@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";*/

/*@import "tailwindcss";*/

@media (max-width: 768px) 
{ 
main { grid-template-columns: 1fr; } 
}